body {
     /*background-color: #DBA8AC;*/
     background: url(http://www.publicdomainpictures.net/download-picture.php?adresar=120000&soubor=watercolor-floral-paper.jpg&id=119578);
     line-height: 3em;
}
h1 {
     text-align: center;
     font-size: 100px;
     background-color: #eba6a9;
     margin: 0px 0px 15px 20px;
}
#align-center{
     display: block;
     margin: 0px auto;
     width: 400px;
}
.card{
     width: 100px;
     float: left;
     border: 1px dotted black;
     margin: 0px 0px 15px 20px;
}
#footer{
     color: gray
}
